.map-container {
  position: relative ;
  height: 100%;
  padding: 15px;
}
  
.map-frame {
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  overflow: hidden;
}
  
#map {
  height: 500px;
  width: 100%;
}

.btn-center {
  z-index: 999;
  position: absolute;
  bottom: 40px;
  right: 25px;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  color: #4ab8de;
  font-size: 1rem; /* Larger icon size */
  line-height: 40px; /* Vertically center the icon in the button */
  cursor: pointer;
}


